html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}
.header-spacer {
  height: 75px;
}
